{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



<html>

<body>
    <div class="d-flex flex-column vh-100 justify-content-spaced    ">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand px-3" href="{%url 'lending:index'%}">
                <h2>Lending</h2>
            </a>
            <ul class="nav nav-pills nav-fill">
                <li>
                    <a class="nav-link text-light" href="{%url 'lending:index'%}">Home</a>
                </li>
            </ul>
        </nav>
        <div class="d-flex flex-column justify-content-center align-items-center ">
            {% block content %}
            {% comment%}
                Content for inheriting pages goes here
            {% endcomment %}
            
            {% endblock %}
        </div>


        <div class="mx-5 mt-auto d-flex p-3 border-top">
            © 2025, Shahryar Kiani
          </div>
    </div>

</body>

</html>