{% extends 'lending/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <!--Heading-->
    <div class="d-flex mt-4" style=" padding-left: 10px;">
        <div class="flex-grow-1">
            <h2 class="mb-0" style="font-weight: bold; font-size: 60px;">Collections</h2>
        </div>
        <!--Create Collection Button-->
        <div>
            {% if not request.user.is_anonymous %}
            <a href="{% url 'lending:create_collection' %}" class="btn btn-primary mt-4"
                style="font-size: clamp(0.5rem, 3vw, 1rem);">
                Create New Collection
            </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for collection in collections %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mb-sm-4">
            <!--Card Info-->
            <a href="{% url 'lending:collection_detail' collection.id %}" class="text-decoration-none">
                <div class="card h-100 m-2 border-1 position-relative" style="max-width: 300px;">
                    <!--Book Covers-->
                    <div class="d-flex">
                        {% for book in collection.books.all|slice:"3" %}
                        <div class="text-center" style="width: 33%; object-fit: cover;">
                            {% if book.book_cover %}
                            <img src="{{ book.book_cover.url }}" class="img-fluid"
                                style="height: 150px; width: auto; max-width: 100%;">
                            {% else %}
                            <img src="{% static 'lending/Default-Book.jpg' %}" class="img-fluid"
                                style="height: 150px; width:auto; max-width: 100%">
                            {% endif %}
                        </div>
                        {% empty %}
                        <div class="w-100 h-100 d-flex justify-content-center"
                            style="padding-top: 22%; padding-bottom: 22%;">
                            <small class="text-muted">No Books in Collection</small>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card-body d-flex flex-column">
                        <!--Collection Info-->
                        <h6 class="card-title mb-1 d-flex text-dark" style="font-size: 20px;">
                            {{ collection.collection_name|truncatechars:25 }}
                        </h6>
                        <h6 class="card-subtitle mb-1 text-muted">
                            <strong>Owner:</strong> {{ collection.owner.username }}
                        </h6>
                        <h6 class="card-subtitle mb-1 text-muted">
                            <strong>Status:</strong>
                            {% if collection.private %}
                            <span class="text-danger">Private</span>
                            {% else %}
                            <span class="text-success">Public</span>
                            {% endif %}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <strong>Books:</strong> {{ collection.books.count }}
                        </h6>

                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-12 mt-4">
            <div class="alert alert-warning">No collections available.</div>
        </div>
        {% endfor %}
    </div>


    {% if private_collections %}
    <h4 class="mb-0" style="font-weight: bold;">Private Collections</h3>
        {% endif %}
        {% for collection in private_collections %}
        <li class="list-group-item d-flex justify-content-between align-items-center my-3">
            {{ collection.collection_name }}
            {% if collection.requested %}
            <button class="btn btn-sm btn-secondary" disabled>Access Requested</button>
            {% else %}
            <form method="POST" action="{% url 'lending:request_collection_access' %}">
                {% csrf_token %}
                <input type="hidden" name="collection_id" value="{{ collection.id }}">
                <button type="submit" class="btn btn-sm btn-outline-primary">Request Access</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
</div>
{% endblock content %}