{% extends 'lending/base.html' %}

{% load static %}

{% block content %}
{% if user.is_staff %}
    <h2>You're a librarian</h2>
{% endif %}
<div class="container">
    <!-- Add Create Collection button at the top -->
    {% if user.is_authenticated %}
    <div class="row mb-4">
        <div class="col">
            <a href="{% url 'lending:create_collection' %}" class="btn btn-primary">
                Create New Collection
            </a>
        </div>
    </div>
    {% endif %}

    <h2 class="text-center mt-4">Books:</h2>
    <div class="row">
        {% for book in book_list %}

        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"> {{ book.book_title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted"><strong>Author:</strong> {{ book.book_author }}</h6>
              <h6 class="card-subtitle mb-2 text-muted"><strong>Genre:</strong> {{ book.book_genre }}</h6>
              <a href="{% url 'lending:book_detail' book.id %}" class="btn btn-primary">View</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
